body {
	font-size: 1.2em;
}

.loading-icon {
	position: absolute;
	left: 40%;
	top: 50px;
}

.active-link {
	display: table;
	cursor: pointer;
	border: solid white 1px;
}

.active-link:hover {
	border: solid black 1px;
}

.indent {
	margin-left: 20px;
}

.dedent {
	margin-left: -20px;
}

[ui-sref] {
	font-size: 1.5em;
}

.tooltip {
	opacity: 1;
	position: relative;
}

.tooltip .tooltiptext {
	top: 10px;
	left: -410px;
	width: 400px;
	visibility: hidden;
	background-color: darkred;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;

	/* Position the tooltip */
	position: absolute;
	z-index: 1;
}

.tooltip:hover .tooltiptext {
	visibility: visible;
}


